In [4]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pandas as pd
from src import feature_engineering as fe

df = pd.read_csv("../data/cleaned_tmt_data.csv", parse_dates=["Invoice_Date"])
df = df.sort_values("Invoice_Date")

df_feat = fe.build_feature_matrix(df)
df_feat = df_feat[df_feat["Unit_Price"].notna()]

os.makedirs("../data", exist_ok=True)
df_feat.to_csv("../data/features_tmt.csv", index=False)

print("✅ Feature engineering complete. Saved to ../data/features_tmt.csv")
df_feat.head()[["Invoice_Date", "Unit_Price", "Quantity_MT", "vendor_id"]]

✅ Feature engineering complete. Saved to ../data/features_tmt.csv

  Invoice_Date  Unit_Price  Quantity_MT  vendor_id
0   2022-05-19     61750.0         8.98          7
1   2022-05-19     61750.0        19.94          7
2   2022-05-21     60250.0         7.98         12
3   2022-05-21     60250.0        11.60         12
4   2022-05-21     61250.0         9.58         12